.profile-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.profile-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 70px;
  align-self: flex-start;
}

.prof-img {
  width: 45px;
}

.h1 {
  margin: 25px;
}

.profile-divider {
  width: 90%;
  height: 15px;
  border-radius: 7.5px;
  background-color: #a283d4;
  border: none;
  margin: 20px 0;
}

.profile-info {
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
  margin-right: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.profile-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}

.profile-field:not(:last-child) {
  position: relative;
}

.profile-field:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -25%;
  width: 1px;
  height: 100%; /* 부모 높이에 맞게 */
  background-color: #000;
}

.label {
  font-weight: bold;
  margin: 50px 30px 50px 0px;
  font-size: 30px;
}

.value {
  font-weight: normal;
  margin: 50px 0px;
  font-size: 30px;
}

.logout-button {
  width: 180px;
  height: 50px;
  margin-top: 13%;
  margin-left: 80%;
  padding: 10px 20px;
  background-color: #907DEF;
  border: none;
  border-radius: 15px;
  color: #000;
  font-size: 25px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #8c6fb7;
}
