* {
  margin: 0px;
  padding: 0px;
}

.login {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.imgBox {
  background-image: url("../../image/loginImg.png");
}

.loginBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loginBox > img {
  width: 30%;
  height: 27%;
  padding: 1%;
  display: flex;
  margin-bottom: 3%;
}

.inputBox {
  width: 60%;
  height: 10%;
  display: flex;
  flex-direction: column;
}

.inputBox > input {
  display: block;
  width: 100%;
  height: 30%;
  border: none;
  border-bottom: 3px solid black;
  font-size: 150%;
  outline: none;
}

.inputBox > span {
  font-size: 150%;
  color: gray;
}

.loginButtonBox {
  width: 60%;
  height: 15%;
  display: flex;
  flex-direction: column;
}

.loginButtonBox > button {
  width: 100%;
  height: 55%;
  background-color: #b887e7;
  border: none;
  border-radius: 2%;
  font-size: 200%;
  margin-bottom: 3%;
}

.loginButtonBox > button:hover {
  cursor: pointer;
}

.linkSignup {
  display: flex;
  margin-left: auto;
  font-size: large;
}

span > span {
  font-size: large;
  font-weight: bold;
}

.linkLogin:hover {
  cursor: pointer;
}
