.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  width: calc(100% - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 30px 10px;
}

.time-box {
  text-align: center;
}

.time {
  font-size: 50px;
  margin: 0;
}

.date {
  font-size: 20px;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a18cd1;
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
  height: 500px;
  width: 800px;
}

.left-box {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 100px;
}

.availability {
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.availability_color {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #ff4343;
}

.availability_color.available {
  color: #43ff43;
}

.text {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 20px 10px 0 10px;
}

.availability_color {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  color: #ff4343;
}

.availability_color.available {
  color: #00d427;
}

.availability_color {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  color: #ff4343;
}

.availability_color.available {
  color: #00d427;
}

.change {
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #ff4343;
  border: 0;
  color: #fff;
  transition: background-color 0.3s;
}

.change-on {
  background-color: #43ff43;
}

.change_text {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 350px;
}

.location-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 120px;
}

.location-ui {
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.current-location-title {
  margin: 25px 0 5px 0;
  font-size: 15px;
}

.current-location {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.location-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.location_input {
  border: 0;
  border-bottom: solid 1px #000;
  padding: 5px;
  width: 180px;
  margin-bottom: 5px;
  font-size: 14px;
  outline: none;
}

.apply {
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 80px;
  cursor: pointer;
  width: 70px;
}

.situation {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  height: 120px;
}

.situation-ui {
  width: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.status-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 220px;
}

.status-button {
  margin: 2px 5px;
  background-color: #f0f0f5;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  width: 80px;
  height: 32px;
  text-align: center;
}

.current-situation-title {
  margin: 25px 0 5px 0;
  font-size: 15px;
}

.current-situation {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.status-button.active {
  background-color: #6666ff;
  color: #fff;
}
